@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$mainFont: 'Poppins';

body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--size-text-base);
} 

.h1 { 
    color: $white;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 4%;
}

button {
    font-family: 'Poppins', sans-serif;
}