html,
body {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }
  .clickable {
    &:hover {
        cursor: pointer;
    }
}

#app {
    width: 100%;
    height: 100%;
    display: inline-flex;
  }